Package: openmediavault-elfinder
Version: 2.1.57
Architecture: all
Maintainer: icersong <icersong@gmail.com>
Depends: openmediavault (>= 3.0.0)
Section: net
XB-Plugin-Section: sharing
Priority: optional
Build-Depends: debhelper (>> 9 )
Standards-Version: 2.1.57
Homepage: https://github.com/icersong/openmediavault-elfinder
Description: OpenMediaVault elFinder plugin
    installs elFinder and adds link in the OpenMediaVault web interface.
Plugin-Section: explorers
